*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.section {
    &__container {
        background-color: hsl(0, 0%, 98%);
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text-main-box {
        margin: 4rem 1.5rem;
        text-align: center;
    }

    &__title-main {
        color: hsl(240, 2%, 32%);
        font-weight: 200;
        font-size: 2.4rem;
    }

    &__title-main--bold {
        font-weight: 600;
        font-size: 2.4rem;
    }

    &__text-main {
        margin: 1.5em 0;
        font-size: 1.4rem;
        color: hsl(229, 6%, 66%);
    }
}






.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}
