*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.section {
    &__container {
        background-color: hsl(0, 0%, 98%);
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text-main-box {
        margin: 4rem 1.5rem;
        text-align: center;
    }

    &__title-main {
        color: hsl(240, 2%, 32%);
        font-weight: 200;
        font-size: 2.4rem;
    }

    &__title-main--bold {
        font-weight: 600;
        font-size: 2.4rem;
    }

    &__text-main {
        margin: 1em 0;
        font-size: 1.4rem;
        color: hsl(229, 6%, 66%);
    }

    &__card-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 2em 2em;
        margin: 1em 2em;
        border-radius: 8px;
        box-shadow: 0px 0px 8px 2px hsl(229, 6%, 66%);
    }

    &__item-one {
        border-top: 4px solid hsl(180, 62%, 55%);
    }

    &__item-two {
        border-top: 4px solid hsl(0, 78%, 62%);
    }

    &__item-three {
        border-top: 4px solid hsl(34, 97%, 64%);
    }

    &__item-four {
        border-top: 4px solid hsl(212, 86%, 64%);
    }

    &__item-text-box {
        margin-bottom: 2em;
        text-align: left;
    }

    &__item-title {
        font-size: 1.8rem;
        color: hsl(240, 2%, 20%);
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__item-text {
        font-size: 1.2rem;
        color: hsl(229, 6%, 66%);
    }

    &__item-image {
        width: 50px;
        height: 50px;
        align-self: flex-end;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

@media(min-width: 700px) {
    .section {
        &__card-box {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, 150px);
        }

        &__item-one {
            grid-column: 1/2;
            grid-row: 2/4;
        }
        &__item-two {
            grid-column: 2/3;
            grid-row: 1/3;
        }
        &__item-three {
            grid-column: 2/3;
            grid-row: 3/5;
        }
        &__item-four {
            grid-column: 3/4;
            grid-row: 2/4;
        }
        
    }
}
